In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [10]:
# data_folder = Path("~/Document/somefile.txt")
prod_log_path = "production_log.csv"
prod_qual_path = "product_quality_log.csv"

df_prod_log = pd.read_csv(prod_log_path, index_col = 0)
df_qual_log = pd.read_csv(prod_qual_path, index_col = 0)

In [11]:
display(df_prod_log)
display(df_qual_log)

                timestamp product_id
0     2021-05-17_08-12-48   P3.2.500
1     2021-05-17_08-12-51   P3.2.501
2     2021-05-17_08-12-54   P3.2.502
3     2021-05-17_08-12-57   P3.2.503
4     2021-05-17_08-13-00   P3.2.504
...                   ...        ...
1651  2021-05-17_09-35-21  P3.2.2151
1652  2021-05-17_09-35-24  P3.2.2152
1653  2021-05-17_09-35-27  P3.2.2153
1654  2021-05-17_09-35-30  P3.2.2154
1655  2021-05-17_09-35-33  P3.2.2155

[1656 rows x 2 columns]

         machine_id product_id quality
0     Printer F0815   P3.2.500      OK
1     Printer F0815   P3.2.501      OK
2     Printer F0815   P3.2.502      OK
3     Printer F0815   P3.2.503      OK
4     Printer F0815   P3.2.504      OK
...             ...        ...     ...
1651  Printer F0815  P3.2.2151     nOK
1652  Printer F0815  P3.2.2152     nOK
1653  Printer F0815  P3.2.2153     nOK
1654  Printer F0815  P3.2.2154     nOK
1655  Printer F0815  P3.2.2155     nOK

[1656 rows x 3 columns]

In [ ]:
df_prod_qual = df_prod_log.join(df_qual_log)